
body {
    background: #faf06d;
    max-width: 900px;
    margin: auto;
    padding-bottom: 50px;
}
h1, h2, h3 {
    text-align: center;
    color: #0f0000;
}
div, h3 {
    text-align: left;
}

img {
    margin: 50px;
    padding-top: 5px;
    padding-left: 50px;
    height: 350px;
    width: 700px;
    
}
.post {
    margin: 50px;
    padding: 50px;
    background: #eb6003;
    color: #ffecd0;
    font-size: 20px;
    text-align: justify;
    border: 2px solid #000000;
}